<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>VibePadAudio</string>
	<key>CFBundleIdentifier</key>
	<string>com.xiaoxi.vibepad.audio.driver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VibePadAudio</string>
	<key>CFBundleDisplayName</key>
	<string>VibePadAudio</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>2C7F1A94-5B3E-4D6A-9C8B-0E1F2A3B4C5D</key>
		<string>VibePadAudioDriverFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<string>2C7F1A94-5B3E-4D6A-9C8B-0E1F2A3B4C5D</string>
	</dict>
</dict>
</plist>
